Criando o banco de dados

In [1]:
!pip install mysql-connector-python
!pip install pandas

Requirement already satisfied: mysql-connector-python in c:\users\indi\anaconda3\lib\site-packages (8.0.31)
Requirement already satisfied: protobuf<=3.20.1,>=3.11.0 in c:\users\indi\anaconda3\lib\site-packages (from mysql-connector-python) (3.20.1)
Requirement already satisfied: pandas in c:\users\indi\anaconda3\lib\site-packages (1.4.4)
Requirement already satisfied: pytz>=2020.1 in c:\users\indi\anaconda3\lib\site-packages (from pandas) (2022.1)
Requirement already satisfied: numpy>=1.18.5 in c:\users\indi\anaconda3\lib\site-packages (from pandas) (1.21.5)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\indi\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\indi\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [2]:
import mysql.connector
from mysql.connector import Error
import pandas as pd

In [3]:
def create_server_connection(host_name, user_name, user_password):
    connection = None
    try:
        connection = mysql.connector.connect(
            host=host_name,
            user=user_name,
            passwd=user_password
        )
        print("Banco de Dados MySQL conectado com sucesso!!!")
    except Error as err:
        print(f"Error: '{err}'")

    return connection

connection = create_server_connection("localhost", "root", '12345678')

Banco de Dados MySQL conectado com sucesso!!!

In [5]:
def create_database(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        print("Banco de Dados Criado com Sucesso!!!")
    except Error as err:
        print(f"Error: '{err}'")

create_database_query = "CREATE DATABASE comercial"
create_database(connection, create_database_query)

Banco de Dados Criado com Sucesso!!!

In [6]:
def create_db_connection(host_name, user_name, user_password, db_name):
    connection = None
    try:
        connection = mysql.connector.connect(
            host=host_name,
            user=user_name,
            passwd=user_password,
            database=db_name
        )
        print("Banco de Dados MySQL conectado com sucesso!!!")
    except Error as err:
        print(f"Error: '{err}'")

    return connection

connection = create_db_connection("localhost", "root", '12345678', 'comercial')

Banco de Dados MySQL conectado com sucesso!!!

Criando uma função para execução de consultas

In [7]:
def execute_query(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        connection.commit()
        print("Consulta bem sucedida!!!")
    except Error as err:
        print(f"Error: '{err}'")
        
tabela_produto = """
CREATE TABLE produto (
  id_produto INT PRIMARY KEY NOT NULL,
  nome VARCHAR(40) NOT NULL,
  valor FLOAT NOT NULL,
  categoria VARCHAR(20) NOT NULL
);
 """

tabela_usuario = """
CREATE TABLE usuario (
  id_usuario INT PRIMARY KEY,
  nome VARCHAR(60) NOT NULL,
  email VARCHAR(40) NOT NULL,
  estado VARCHAR(2) check (estado in ('TO','SE','SP','SC','RR','RO','RS','RN','RJ','PI','PE','PR','PB','PA','MG','MS','MT','MA','GO','ES','DF','CE','BA','AM','AP','AL','AC'))
);
 """

tabela_venda = """
CREATE TABLE venda (
  id_venda INT PRIMARY KEY NOT NULL,
  data_venda DATE NOT NULL,
  status VARCHAR(12) check (status in ('Faturado', 'Cancelado')) NOT NULL,
  id_usuario INT,
  id_produto INT
);
"""

connection = create_db_connection("localhost", "root", '12345678', 'comercial')
execute_query(connection, tabela_produto)
execute_query(connection, tabela_usuario)
execute_query(connection, tabela_venda)

Banco de Dados MySQL conectado com sucesso!!!
Consulta bem sucedida!!!
Consulta bem sucedida!!!
Consulta bem sucedida!!!

Criando tabelas

In [8]:
altera_venda = """
ALTER TABLE venda
ADD FOREIGN KEY(id_usuario)
REFERENCES usuario(id_usuario)
ON DELETE SET NULL;
"""

altera_venda2 = """
ALTER TABLE venda
ADD FOREIGN KEY(id_produto)
REFERENCES produto(id_produto)
ON DELETE SET NULL;
"""

connection = create_db_connection("localhost", "root", '12345678', 'comercial')
execute_query(connection, altera_venda)
execute_query(connection, altera_venda2)

Banco de Dados MySQL conectado com sucesso!!!
Consulta bem sucedida!!!
Consulta bem sucedida!!!

Fim